<div class="container">
  <div class="lists-list">
    <div class="item-list">
      <% @lists.each do |list| %>
        <%= link_to list_path(list) do %>
          <%= list.name %>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="list-addition">
    <%= link_to "+ New List", new_list_path %>
  </div>
</div>
